
<div id="spree-header">
!--Navbar-->
<nav class="navbar navbar-fixed-top scrolling-navbar navbar-dark bg-primary">

  <div class="container">
    <div class="row row1">
      <ul class="largenav pull-right">
        <li class="upper-links"><a class="links" href="">Link 1</a></li>
        <li class="upper-links"><a class="links" href="">Link 2</a></li>
        <li class="upper-links"><a class="links" href="">Link 3</a></li>
        <li class="upper-links"><a class="links" href="">Link 4</a></li>
        <li class="upper-links"><a class="links" href="">Link 5</a></li>
        <li class="upper-links"><a class="links" href="">Link 6</a></li>
        <li class="upper-links">
          <a class="links" href="">
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
          </a>
        </li>
        <li class="upper-links dropdown"><a class="links" href="">Dropdown</a>
          <ul class="dropdown-menu">
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
            <li class="profile-li"><a class="profile-links" href="">Link</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="row row2">
        <!--Navbar Brand-->
        <div class="col-sm-2">
            <h1 style="margin:0px;"><span class="largenav">Toy Tokri</span></h1>
        </div>
        <div class="tokri-navbar-search smallsearch col-sm-8 col-xs-11">
          <div class="row">
            <input class="tokri-navbar-input col-xs-11" type="" placeholder="Search for products & brands" name="">
            <button class="tokri-navbar-button col-xs-1">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="cart largenav col-sm-2">
          <a class="cart-button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart
            <span class="item-number ">0</span>
          </a>
        </div>
    </div>

  </div>
 </nav>
<!--/.Navbar-->
</div>
